header {
    display: flex;
    justify-content: space-between;
    background-color: #00ffd6;
    box-shadow: 0 8px 0 #000;
    padding: 8px 24px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #222;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 32px;
}

a::before {
    content: "";
    background-color: #ff4060;
    height: 8px;
    width: 8px;
    margin-right: 8px;
}

a:hover {
   color: #ff4060;
}

#button:hover {
    background-color: #ff1947;
    box-shadow: none;
    position: relative;
    left: 4px;
    top: 4px;
}

nav {
    text-align: right;
}

#button {
    display: inline-block;
    color: #fff;
    background-color: #ff4060;
    padding: 18px 20px;
    box-shadow: 4px 4px 0 #222;
    margin-right: 0;
}

#button::before {
    display: none;
}